@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
:root {
  --background-color: #0c1929;
}
body {
  background: var(--background-color);
}
a {
  color: #66bb6a;
}
p,h1,h2,h3,h4,h5 {
  font-size: 2rem;
  font-family: "Gochi Hand", Courier, monospace;
}
img {
  width: 100%;
}
h1 {
  font-size: xx-large;
}
.content {
  width: 100%;
}
.MuiButton-root {
  color: white;
  font-family: "Gochi Hand", Courier, monospace;
  font-size: 2rem;
}
.logo {
  font-size: 2.5rem;
}
/* .MuiButton-root.ch {
  color: white;
  font-family: "Gochi Hand", Courier, monospace;
  font-size: 0.5rem;
} */
@media screen and (max-width: 500px) {
  p {
    font-size: 1rem;
  }
  img {
    width: 100%;
  }
  h1 {
    font-size: x-large;
  }
  .content {
    width: 100%;
  }
  body {
    background: var(--background-color);
  }
  /* .MuiButton-root.ch {
    color: white;
    font-family: "Gochi Hand", Courier, monospace;
    font-size: 0.6rem;
    width: 5px;
    height: 5px;
  } */
  .logo {
    font-size: 2rem;
  }
}
